/* estilos padrão */

body {
	display: flex;
<<<<<<< HEAD
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
=======
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
>>>>>>> 7ba2b5a (segundoCommit)
}

.container {
	text-align: center;
}

img {
	width: 150px;
	height: auto;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
}

button {
	background-color: #008CBA;
	color: white;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 10px auto;
	cursor: pointer;
}

/* regras de mídia para dispositivos móveis */

@media (max-width: 767px) {
	body {
		height: auto;
	}
	
	h1 {
		font-size: 28px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	
	button {
		font-size: 14px;
		padding: 10px 20px;
		margin: 5px auto;
	}
}
